@font-face {
    font-family: 'Tisa Light';
    src: url(assets/Tisa\ Sans\ Pro\ Light.ttf);
}
@font-face {
    font-family: 'Tisa Regular';
    src: url(assets/Tisa\ Sans\ Pro\ Regular.ttf);
}
@font-face {
    font-family: 'Brown Pen';
    src: url(assets/Brown\ Pen.otf);
}

@font-face {
    font-family: 'Aeonik Light';
    src: url(assets/AeonikProTRIAL-Light.otf);
}

@font-face {
    font-family: 'Aeonik Bold';
    src: url(assets/AeonikProTRIAL-Bold.otf);
}

@font-face {
    font-family: 'Aeonik Regular';
    src: url(assets/AeonikProTRIAL-Regular.otf);
}

@font-face {
    font-family: 'Inter Light';
    src: url(assets/Inter-Light.ttf);
}

@font-face {
    font-family: 'Inter Regular';
    src: url(assets/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter Bold';
    src: url(assets/Inter-Black.ttf);
}


body{
    overflow-x: hidden;
    font-family: 'Inter Regular';
    color: #161616;
    width: 100%;
    height: 100%;
    /* background-image: url(images/ciel.webp); */
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}
nav{
    background-color: white;
    z-index: 100;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */

    /* padding-right: 4em; */
    -webkit-box-shadow: 0 8px 10px -6px #000000;
    -moz-box-shadow: 0 8px 10px -6px #000000;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    /* position:sticky;
    top:0; */
}
nav article{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    /* margin: 1em 1em 0 1em; */

}
nav article.logo{
    /* border: solid red; */
    width: 23%;
}
nav article.nav-text{
    width: 25%;
    /* border: solid red; */
}
nav article.nav-text a{
    text-decoration: none;
}
nav article h3{
    color: #161616;
    /* margin: 1em 2rem; */
}
nav img{
    margin: 1em 1em 0 1em;
    height: 30px;
    width: 30px;
    
}
nav img#logo{
    margin-right: 5em;
    margin-top: 0;
    height: 60px;
    width: 80px;
    /* border: solid red; */
}
header{
    display: flex;
    color: white;
    /* margin: 0; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    /* border: solid red; */
    /* background-color: black; */
}    
header video{
    height: 100%;
    width: 100%;
    /* border: solid red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

header .hero-text{
    font-family: 'Tisa Regular';
    margin-top: 3em;
    
}
header .hero-text h2{
    text-align: center;
    font-size: 72px;
    font-weight: 600;
}

header .hero-text h3{
    /* border: solid red; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-wrap: wrap;
    text-align: center;
    padding-bottom: 2em;
}


/* CSS */
.header-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}

.header-button:disabled {
  cursor: default;
}

.header-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.favorite-link {
    margin-right: 15px;
}

.favorite-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.favorite-icon:hover {
    transform: scale(1.2);
}
/*---------------------------------->
/* Style pour la barre de navigation */
nav {
    background-color: white;
    z-index: 100;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0; /* Assure que la navbar reste en haut */
    width: 100%;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    /* margin-top: 0; Suppression de la marge pour le coller au haut */
    transition: all 0.3s ease;
}

/* Contenu de la navbar */
nav article {
    display: flex;
    justify-content: space-between;
}

/* Position du logo */
nav article.logo {
    width: 23%;
}

/* Texte de la navbar */
nav article.nav-text {
    width: 25%;
}

/* Liens de la navbar */
nav article.nav-text a {
    text-decoration: none;
}

/* Style des titres dans la navbar */
nav article h3 {
    color: #161616;
}

/* Logo de la navbar */
nav img#logo {
    margin-right: 5em;
    margin-top: 0;
    height: 60px;
    width: 80px;
}

/* Position des icônes et des liens de la navbar */
nav article.nav-icons {
    display: flex;
    align-items: center;
}

/* Icônes dans la navbar */
nav article.nav-icons a {
    margin-right: 15px;
}

/* Icône des favoris */
.favorite-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.favorite-icon:hover {
    transform: scale(1.2);
}

nav article.nav-icons img {
    height: 24px;
    width: 24px;
}
/* Barre de navigation */
nav {
    background-color: white;
    z-index: 1000; /* Assure que la navbar reste au-dessus des autres éléments */
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    position: sticky; /* Rend la navbar collante */
    top: 0; /* Fixe la navbar en haut de la page */
    width: 100%;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/* Contenu de la navbar */
nav article {
    display: flex;
    justify-content: space-between;
}

/* Icônes dans la navbar */
nav article.nav-icons img {
    height: 24px;
    width: 24px;
}